<div class="ui link cards">

  <%= @users.each do |user| %>
    <div class="card">
      <%# <div class="image">
        <%  if user.image != nil %>
          <%# <%= image_tag user.image, size: '250x250'%> 
        <%# <% end %>
      
      <div class="content">
        <div class="header"> <%= user.name %> </div>
        <div class="meta">
          <% if @friends.include?(user) %>
            <%= link_to 'Friends', '#' %>
          <% elsif !@friends.include?(user)%>
            <%= form_with(url: relationships_path) do |f| %>
            <%= hidden_field_tag('User', valuer = user.id)%>
            <%= f.submit 'Add Friend'%>
            <% end %>
          <% end %>
        </div>
        <div class="description">
          Matthew is an interior designer living in New York.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <%= user.created_at %>
        </span>
        <span>
          <i class="user icon"></i>
          <%= user.friends.count %>
          Friends
        </span>
      </div>
    </div>
  <% end %>
</div>