<div class="ui grid container segment">
  <div class="four wide column">
    <div class="ui card">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: '250x250' %>
      <% end %>
      <div class="content">
        <h5 class="header"><%= @user.name%></h5>
        <div class="meta">
          <p> <%= @user.username%> </p>
          <p> <%= @user.email %> </p>
        </div>
        <div class="meta custom-mt-1">
          <%= link_to "Edit your profile", edit_user_registration_path, class: "ui secondary button"%>
          
        </div>

        <div class="meta">
          <% @user.friendship_requests.each do |user| %>
          <%= link_to "Accept #{user.name} as Friend", accept_request_user_path(user) %>
            <p> <%= user.name %> </p>
          <% end %>
        </div>
      </div>
    </div>  
  
  </div>
  <div class="six wide column">
    <%= render 'welcome/feed' %>
</div>
</div>

