<div class="ui inverted mini menu">
<div class="ui container">
  <%= link_to 'Chatroom', '#', class: 'item'%>
  <%= link_to 'Messages', '#', class: 'item'%>

  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">        
      <% if user_signed_in? %>
        <%= link_to 'Log out', destroy_user_session_path, class: 'item', method: :delete%>
      <% else %>
        <%= link_to 'Log in', new_user_session_path, class: 'item' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'item' %>
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>